{{ template "htmlHead" .}}
{{ template "header" . }}
{{ template "headerLinks" }}
<div class="text-center">
    <img class="image lazy" src="/static/content/placeholder.jpg" data-src="/static/content/image-1.png">
    <img class="image lazy" src="/static/content/placeholder.jpg" data-src="/static/content/image-2.png">
    <img class="image lazy" src="/static/content/placeholder.jpg" data-src="/static/content/image-3.png">
    <img class="image lazy" src="/static/content/placeholder.jpg" data-src="/static/content/image-4.png">
    <img class="image lazy" src="/static/content/placeholder.jpg" data-src="/static/content/gif-1.gif">
</div>
{{ template "footer" . }}
{{ template "htmlFooter" }}
