{{ template "htmlHead" .}}
{{ template "header" . }}
{{ template "headerLinks" }}
<div class="text-center">
    <img class="image" src="/static/content/image-1.jpg">
    <img class="image" src="/static/content/image-2.jpg">
    <img class="image" src="/static/content/image-3.jpg">
    <img class="image" src="/static/content/image-4.jpg">
    <img class="image" src="/static/content/gif-1.gif">
</div>
{{ template "footer" . }}
{{ template "htmlFooter" }}
