{{ define "footer" }}
<div class="text-center my-3">
    <a class="font-weight-bold" href="#top">back to top</a><br>
    <a href="/">{{ .websiteName }}  ©</a><br>
    <a href="https://github.com/sergiosegrera"><small>made with ♥ by sergio</small></a>
</div>
{{ end }}
