{{ define "footer" }}
<div class="text-center my-3">
    <a class="font-weight-bold" href="#top">back to top</a><br><br>
    <a href="/">{{ .settings.WebsiteName }}  ©</a><br>
    <a href="https://github.com/sergiosegrera/galeria"><small>made with ♥ by sergio</small></a>
</div>
{{ end }}
