{{ define "header" }}
<h1 class="text-center py-3">{{ .settings.WebsiteName }}</h1>
{{ end }}

{{ define "headerLinks" }}
<div id="headerLinks" class="text-center mb-3">
    <a href="/photography">photography</a>
    <a href="/about">about</a>
</div>
{{ end }}
