html {
    font-family: Arial, Helvetica sans-serif;
}

a {
    color: black;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

a:hover {
    color: black;
}

.image {
    width: 100%;
    max-width: 600px;
    padding: 2em;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.image:hover {
    padding: 1.75em;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
